.btn {
  &,
  &:link,
  &:visited {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    transition: all 0.2s;

    // change for the <button> element
    border: none;
    cursor: pointer;
  }
}
