.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;

  background-color: transparent;
  border: 2px solid var(--color-gray-dark-3);
  border-radius: var(--border-radius-huge);
  box-shadow: var(--box-shadow-medium);

  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: inherit;

  cursor: pointer;

  transition: all 0.3s;

  @include respond(phone) {
    padding: 0.5rem 1rem;
  }

  &:hover,
  &:focus-visible {
    border: 2px solid var(--color-primary);
    transform: translateY(-0.2rem);
    box-shadow: var(--box-shadow-big);

    .btn__icon {
      fill: var(--color-primary);
    }
  }

  &:active {
    transform: translateY(0rem);
    box-shadow: var(--box-shadow-small);
  }

  &__icon {
    height: 2.8rem;
    width: 2.8rem;
    fill: var(--color-gray-dark-3);

    transition: all 0.3s;

    @include respond(phone) {
      height: 2rem;
      width: 2rem;
    }
  }

  &--filled {
    background-color: var(--color-gray-light-4);
    border: none;
    color: var(--color-black-2);

    &:hover,
    &:focus-visible {
      outline: none;
      border: none;
      transform: none;
      background-color: var(--color-primary);
    }
  }
}
