.carousel {
  display: flex;
  gap: 2rem;
  position: relative;
  overflow-x: scroll;
  padding: 0 5rem;

  mask: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 10% 90%,
    rgba(0, 0, 0, 0)
  );

  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  .carousel::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: #8070d4;
    border: 6px solid rgba(0, 0, 0, 0.2);
  }

  &:hover .card:not(:hover) {
    filter: blur(1px) brightness(80%);
  }

  &:focus-visible .card:not(:focus-visible) {
    filter: blur(1px) brightness(80%);
  }
}
