.carousel {
  display: flex;
  gap: 2rem;
  // margin: auto;
  position: relative;

  &__left,
  &__right {
    position: absolute;
    top: 50%;

    &:focus {
      outline: none;

      .carousel__icon {
        fill: var(--color-gray-light-3);
      }
    }
  }

  &__left {
    left: 0%;
    transform: translateX(-100%);
  }

  &__right {
    right: 0%;
    transform: translateX(100%);
  }

  &__icon {
    cursor: pointer;
    height: 4.8rem;
    width: 4.8rem;
    fill: var(--color-gray-dark-2);

    transition: all 0.2s;
    stroke-width: 0.3;

    &:hover {
      fill: var(--color-gray-light-3);
    }
  }

  &:hover .card:not(:hover) {
    filter: blur(1px) brightness(80%);
  }

  &:focus-within .card:not(:focus-within) {
    filter: blur(1px) brightness(80%);
  }
}
