.card {
  display: flex;
  flex-direction: column;
  max-width: 25rem;

  background-color: var(--color-black-2);
  border-radius: var(--border-radius-medium);

  overflow: hidden;
  margin: 0 auto;

  position: relative;

  transition: all 0.3s;

  &:hover {
    transform: translateY(-0.7rem);
  }

  &__link:focus-within {
    outline: none;
  }

  &__img-box {
    overflow: hidden;
  }

  &__img {
    width: 100%;
  }

  &__title {
    text-align: center;
    margin: 0.5rem 1.5rem 4rem 1.5rem;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    // color: var(--color-);
  }

  &__rating {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;

    gap: 0.5rem;
    padding: 0.3rem 1rem;

    font-size: 2.2rem;
    font-weight: 600;

    background-color: var(--color-black-2);
    border-bottom-left-radius: 0.2rem;
    box-shadow: var(--box-shadow-medium);

    &-icon {
      width: 2.8rem;
      height: 2.8rem;
      fill: var(--color-primary);
      z-index: 100;
    }
  }

  &__btn {
    margin: 2rem;
    margin-top: auto;
    border-radius: var(--border-radius-small);
  }
}
