*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary-dark),
    var(--color-gray-dark-1)
  );
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
