body {
  font-family: "Lato", "sans-serif";
  font-weight: 400;
  line-height: 1.7;

  color: var(--color-gray-dark-3);
}

.heading-primary {
  font-size: 4.8rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}
