.section-hero {
  margin-bottom: 20rem;
  transition: opacity 0.3s;
}

.section-new {
  max-width: 145rem;
  margin: 0 auto;
  padding: 0 5rem;
  margin-bottom: 10rem;
}

.section-top {
  max-width: 145rem;
  margin: 0 auto;
  padding: 0 5rem;
  margin-bottom: 10rem;
}
