:root {
  // COLORS
  --color-primary: #f4791f;
  --color-primary-dark: #334d4d;
  --color-primary-light: #a3c2c2;

  --color-secondary: #659999;
  --color-secondary-dark: #7a3d10;
  --color-secondary-light: #f8af79;

  --color-white: #fff;

  --color-black: #000;
  --color-black-2: #111;
  --color-black-2: #222;

  --color-gray-dark-1: #333;
  --color-gray-dark-2: #777;
  --color-gray-dark-3: #999;

  --color-gray-light-1: #f7f7f7;
  --color-gray-light-2: #eee;
  --color-gray-light-3: #ddd;
  --color-gray-light-4: #ccc;

  // TYPOGRAPHY
  --font-size-default: 1.6rem;

  // BORDER RADIUS
  --border-radius-circle: 50%;

  --border-radius-small: 0.3rem;
  --border-radius-medium: 0.5rem;
  --border-radius-huge: 50rem;

  // BOX-SHADOW

  --box-shadow-small: 0 1rem 3rem rgba(0, 0, 0, 0.15);
  --box-shadow-medium: 0 1.5rem 4rem rgba(0, 0, 0, 0.12);
  --box-shadow-big: 0 2rem 5rem rgba(0, 0, 0, 0.1);

  --box-shadow-dark: 0 1rem 1.6rem rgba(0, 0, 0, 0.5);
}
