.grid {
  display: grid;
  padding: 5rem;
  width: 100%;
  justify-content: center;

  grid-template-columns: repeat(auto-fill, 20rem);
  grid-template-rows: auto;
  gap: 2rem;

  &:hover .card:not(:hover) {
    filter: blur(1px) brightness(80%);
  }

  &:focus-within .card:not(:focus-within) {
    filter: blur(1px) brightness(80%);
  }
}
