.header {
  display: flex;
  align-items: center;
  padding: 0 5rem;
  background-color: var(--color-gray-dark-1);
  height: 6rem;
}

.logo__link {
  display: flex;
  height: 4rem;
}

.logo__img {
  height: 100%;
}
