.hero {
  height: 100vh;
  &__image {
    max-width: 170rem;
    margin: 0 auto;
    max-height: 55rem;
    position: relative;
    overflow: hidden;
    display: flex;
    z-index: -1;
    margin-bottom: 3rem;

    mask: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 35%);

    &--movie {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;

      mask: linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 1%,
        rgba(0, 0, 0, 1) 35% 65%,
        rgba(0, 0, 0, 0) 100%
      );
    }

    &--poster {
      display: flex;
      flex-basis: 28rem;
      box-shadow: var(--box-shadow-dark);
      overflow: hidden;
      margin: 10rem 0 5rem 15rem;
      border-radius: var(--border-radius-small);
      object-fit: cover;
    }
  }

  &__title {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 5rem;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;

    &--main {
      margin-bottom: auto;
      display: flex;
      align-items: baseline;
      gap: 3rem;
    }

    &--sub {
      width: 75%;
      color: var(--color-gray-light-4);
      grid-column: 1 / -1;
    }
  }

  &__btn-container {
    display: flex;
    gap: 3rem;
    margin: auto;
  }
}
