.hero {
  max-width: 120rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  display: flex;

  .image-box {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    mask: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 3%,
      rgba(0, 0, 0, 1) 35% 65%,
      rgba(0, 0, 0, 0) 97%
    );

    &__img {
      width: 100%;
    }
  }

  .poster-box {
    display: flex;
    flex-basis: 30rem;
    box-shadow: var(--box-shadow-dark);
    overflow: hidden;
    margin: 10rem 0 5rem 2rem;
    border-radius: var(--border-radius-small);

    &__img {
      width: 100%;
      object-fit: cover;
    }
  }
}
