.randomizer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;

  background-image: var(--gradient-primary);
  color: var(--color-gray-light-1);

  background-size: 300% 300%;
  animation: gradient 15s ease infinite;

  &__button {
    cursor: pointer;
    width: 50rem;
    height: 50rem;
    background: none;
    border: none;
    border-radius: 50%;

    font-size: 3.2rem;
    text-transform: uppercase;
    color: inherit;
    letter-spacing: 1;

    background-image: var(--gradient-primary);
    box-shadow: var(--box-shadow-small);

    transition: all 0.2s;

    background-size: 200% 200%;
    animation: gradient 15s ease infinite;

    &:hover {
      transform: scale(1.04);
      box-shadow: var(--box-shadow-big);
    }

    &:active {
      transform: scale(1.02);
      box-shadow: var(--box-shadow-medium);
    }

    &:focus-visible {
      outline: none;
      border: 1px solid var(--color-gray-light-3);
    }
  }
}
