/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights

- Line heights
1 - default

- Letter spacing

--- 02 COLORS

- Gradients:
linear-gradient(135deg, #240b36, #c31432)

- Primary:
#240b36
#c31432

- Tints:
rgb(194, 20, 49, 0.15);

- Shades: 
rgba(7, 12, 11, 0.75)

- Accents:

- Greys:

--- 05 SHADOWS

--- 06 BORDER-RADIUS

Default: 10px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  color: #cccccc;
  line-height: 1;
  background: linear-gradient(135deg, #240b36, #c31432);
  overflow-x: hidden;
  height: 100vh;
}

.container {
  margin: 4.8rem auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0.1fr 1fr;
  max-width: 120rem;
  min-height: 80rem;
  background-color: rgba(7, 12, 11, 0.75);
  border-radius: 9px;
  box-shadow: 0px 4px 16px rgba(255, 255, 255, 0.075);
}

.header__logo {
  width: 20rem;
  margin: 2rem;
}

.header {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filters {
  background-color: rgb(194, 20, 49, 0.15);
  grid-row: 2 / -1;
  margin: 0.4rem 0.4rem 1.2rem 1.2rem;
  border-radius: 9px;
}

.results {
  background-color: rgb(194, 20, 49, 0.15);
  grid-column: 2 / -1;
  margin: 0.4rem 1.2rem 1.2rem 0.4rem;
  border-radius: 9px;
}

.header__search {
  display: flex;
  height: 4.8rem;
  background: #f9e8eb;
  box-shadow: 0px 4px 16px #ffffff3f;
  border-radius: 24px;
  align-items: center;
  padding-left: 2.4rem;
}

.search__field {
  font-size: 1.6rem;
  background: none;
  border: none;
  width: 40rem;
}

.btn {
  font-size: 1.6rem;
  font-family: inherit;
  background: none;
  border: none;
  color: inherit;
}

.search__btn {
  background-color: #edb9c2;
  height: 4.8rem;
  width: 9.6rem;
  color: #240b36;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border-radius: 24px;
}

.search__field:focus {
  outline: none;
}

.btn:hover {
  cursor: pointer;
}

.header__nav {
  display: flex;
  margin-right: 2rem;
  gap: 2rem;
}

.random__btn,
.bookmarks__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.8rem;
  height: 4.8rem;
  border: 2px solid #f9e8ebb0;
  border-radius: 50%;
}

.nav__icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #f9e8ebb0;
}
