/************* HEADER GENERAL ****************/
.header {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header--logo {
  width: 20rem;
}

.header--logo--link {
  margin: 2.4rem;
  transition: all 0.2s;
}

.header--btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.4rem;
  border: 2px solid var(--main-border-color);
  border-radius: 50rem;
}

.header--btn:hover .header--icon {
  color: var(--focus-border-color);
}

/************* SEARCH BAR ****************/

.header__search {
  display: flex;
  gap: 1.2rem;
  height: 4.3rem;
}

.header__search--field {
  transition: all 0.2s;
  padding-left: 1.8rem;
  width: 36rem;
  background: none;
  border: 2px solid var(--main-border-color);
  border-radius: 50rem;
  font-family: inherit;
  font-size: 1.6rem;
  letter-spacing: 1.2px;
  font-style: italic;
  color: var(--main-border-color);
  outline: none;
}

.header__search--field:hover,
.header__search--field:focus-within {
  color: var(--main-font-color);
  border: 2px solid var(--focus-border-color);
  background-color: var(--focus-bg-color);
  box-shadow: 0 0.2rem 1.5rem 0.1rem var(--main-shadow-color);
}

.header--icon {
  color: var(--main-border-color);
  height: 3.2rem;
  width: 3.2rem;
}

/************* NAVIGATION ****************/

.header__nav {
  display: flex;
  margin-right: 4.8rem;
  gap: 2.4rem;
  height: 4.3rem;
  position: relative;
}
