/* 
0- 600px:    Phone
600-900px:   Tablet portrait
900-1200px:  Tablet landscape
1200-1800:   Normal styles
1800+:       Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

*/
:root {
  --color-primary: #659999;
  --color-primary-dark: #334d4d;
  --color-primary-light: #a3c2c2;
  --color-secondary: #f4791f;
  --color-secondary-dark: #7a3d10;
  --color-secondary-light: #f8af79;
  --gradient-primary: linear-gradient(
    to right bottom,
    var(--color-primary),
    var(--color-secondary)
  );
  --gradient-primary-switched: linear-gradient(
    to left bottom,
    var(--color-primary),
    var(--color-secondary)
  );
  --gradient-primary-light: linear-gradient(
    to right bottom,
    var(--color-primary-light),
    var(--color-secondary-light)
  );
  --color-white: #fff;
  --color-black: #000;
  --color-gray-dark-1: #333;
  --color-gray-dark-2: #777;
  --color-gray-dark-3: #999;
  --color-gray-light-1: #f7f7f7;
  --color-gray-light-2: #eee;
  --color-gray-light-3: #ddd;
  --font-size-default: 1.6rem;
  --border-radius-circle: 50%;
  --border-radius-small: 0.3rem;
  --border-radius-huge: 50rem;
  --box-shadow-small: 0 1rem 3rem rgba(0, 0, 0, 0.15);
  --box-shadow-medium: 0 1.5rem 4rem rgba(0, 0, 0, 0.12);
  --box-shadow-big: 0 2rem 5rem rgba(0, 0, 0, 0.1);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-image: var(--gradient-primary-switched);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
}

body {
  font-family: "Lato", "sans-serif";
  font-weight: 400;
  line-height: 1.7;
  color: var(--color-gray-dark-1);
}

.u-hidden {
  display: none !important;
}

.btn, .btn:link, .btn:visited {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  transition: all 0.2s;
  border: none;
  cursor: pointer;
}

.search {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  margin-left: auto;
  background-color: var(--color-gray-light-3);
  border-radius: 0.2rem;
  transition: all 0.3s;
}
.search:focus-within {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}
.search:focus-within .search__input {
  width: 45rem;
}
.search__input {
  padding: 1rem;
  background-color: transparent;
  border: none;
  width: 40rem;
  color: inherit;
  font-size: 1.6rem;
  transition: all 0.3s;
}
.search__input::-moz-placeholder {
  font-family: "Lato", sans-serif;
  color: var(--color-gray-dark-3);
  font-size: 1.6rem;
}
.search__input::placeholder {
  font-family: "Lato", sans-serif;
  color: var(--color-gray-dark-3);
  font-size: 1.6rem;
}
.search__input:focus-visible {
  outline: none;
}
.search__button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  display: flex;
}
.search__button:focus-visible {
  outline: none;
}
.search__button:focus-visible .search__icon {
  outline: none;
  fill: var(--color-gray-dark-1);
  transform: translateY(-0.1rem);
}
.search__button:hover .search__icon {
  fill: var(--color-gray-dark-2);
  transform: translateY(-0.1rem);
}
.search__button:active .search__icon {
  fill: var(--color-gray-dark-1);
  transform: translateY(-0.05rem);
}
.search__icon {
  width: 3.2rem;
  height: 3.2rem;
  margin-right: 1rem;
  fill: var(--color-gray-dark-3);
  transition: all 0.1s;
}

.header {
  display: flex;
  align-items: stretch;
  background-color: var(--color-gray-dark-1);
  height: 7rem;
}

.logo__link {
  margin-left: 5rem;
}

.user-nav {
  margin-right: 5rem;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: auto;
}
.user-nav__list {
  display: flex;
  gap: 3rem;
}
.user-nav__item:hover .user-nav__icon {
  fill: var(--color-gray-light-3);
  transform: scale(1.1);
  box-shadow: var(--box-shadow-medium);
}
.user-nav__item:active .user-nav__icon {
  fill: var(--color-gray-light-3);
  transform: scale(1.05);
  box-shadow: var(--box-shadow-small);
}
.user-nav__link {
  display: flex;
}
.user-nav__icon {
  height: 3.6rem;
  width: 3.6rem;
  fill: var(--color-gray-dark-3);
  transition: all 0.2s;
}

.randomizer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: var(--gradient-primary);
  color: var(--color-gray-light-1);
  background-size: 300% 300%;
  animation: gradient 30s ease infinite;
}
.randomizer__button {
  cursor: pointer;
  width: 50rem;
  height: 50rem;
  background: none;
  border: none;
  border-radius: 50%;
  font-size: 4.8rem;
  text-transform: uppercase;
  font-weight: 700;
  color: inherit;
  letter-spacing: 1;
  background-image: var(--gradient-primary-switched);
  box-shadow: var(--box-shadow-small);
  transition: all 0.2s;
  background-size: 200% 200%;
  animation: gradient 15s ease infinite;
}
.randomizer__button:hover {
  transform: scale(1.04);
  box-shadow: var(--box-shadow-big);
}
.randomizer__button:active {
  transform: scale(1.02);
  box-shadow: var(--box-shadow-medium);
}
.randomizer__button:focus-visible {
  outline: none;
  border: 1px solid var(--color-gray-light-3);
}/*# sourceMappingURL=main.css.map */