@media (max-width: 1100px) {
  html {
    font-size: 58.2%;
  }

  .container {
    height: 100vh;
  }

  .header__nav {
    gap: 0.8rem;
  }

  .selection__container {
    grid-template-columns: repeat(4, 1fr);
  }

  .results {
    grid-template-columns: repeat(auto-fit, minmax(10rem, max-content));
  }

  /* .result--btn {
    width: 6rem;
  } */
}

@media (max-width: 950px) {
  html {
    font-size: 52.5%;
  }
  .header__search--field {
    width: 28rem;
  }
}

@media (max-width: 775px) {
  html {
    font-size: 42.5%;
  }
}

@media (max-width: 650px) {
  .container {
    grid-template-rows: 6rem 1fr;
  }

  .header--logo--link {
    margin: 1.4rem;
    transition: all 0.2s;
  }

  .selection__container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr;
  }

  .filters {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    margin: 1.2rem;
    margin-top: 0;
  }

  .results {
    grid-column: 1 /-1;
    margin: 1.2rem;
    margin-top: 0;
  }
}
