.results {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  border: 2px solid var(--main-border-color);
  grid-column: 2 / -1;
  margin: 0.4rem 1.2rem 1.2rem 0.4rem;
  border-radius: 9px;
}

.results__result {
  margin: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.8rem;
  opacity: 0.5;
  transition: all 0.3s;
}

.result--img {
  width: 14rem;
  height: 20rem;
  border-radius: 9px;
}

.results__result:hover {
  opacity: 1;
  transform: translate(0, -0.3rem);
}
