/************* ALL SEARCH RESULTS ****************/

.results {
  margin: 0.4rem 1.2rem 1.2rem 0.4rem;
  grid-column: 2 / -1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 12rem));
  grid-auto-rows: 18rem;
  padding: 1.2rem;
  gap: 1.2rem;
  border: 2px solid var(--main-border-color);
  border-radius: 9px;
}

.results__result {
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  cursor: pointer;
}

.result--img {
  width: 100%;
  height: 100%;
  border-radius: 9px;
}

.results__result:hover {
  opacity: 0.8;
  transform: translate(0, -0.3rem);
  box-shadow: 0 0.2rem 1.5rem 0.1rem var(--main-shadow-color);
}
